<!DOCTYPE html> 
<html>
<head>
<meta http-equiv="refresh" content="0;URL='<%= long_url %> /> 
<title>Page Redirection</title>
</head>
<body>
<!-- You will be redirected automatically to target URL after -->   
<p>You will be redirected to homepage shortly.<br> If not click <a href="https://example.com/">here</a>.</p>
</body>
</html>